/*
 * Imports
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/* 
 * CSS Reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
a {
    line-height: 1;
    font-weight: 400;
    clear: both;
}


ul {
    list-style: none
}

blockquote {
    quotes: none
}

select:focus {
  outline: 0;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through
}

/* tables still need 'cellspacing="0"' in the markup */

table {
    border-spacing: 0;
}

a img {
    border: none
}

a,
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
}

body {
    background-color: #fdfdfd;
}


/*
 * Font Styling
 */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 40px;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}

h3 {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 40px;
}



h5 {
    font-size: 12px;
    font-weight: 300;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

/* 
 * Base color Styling
 */

.grey-b { 
    background-color: #e6e6e6;
    overflow: hidden;
    padding: 20px 0;
}

.pink-t { color: #f2808a;}
.grey-t { color: #999999;}
.blue-t { color: #82d9d7;}
.black-t { color: #333333;}

/* 
 * Spacing
 */

.col-padding { 
    padding: 10px; 
    margin-top: 30px;
}

.margin-t-5 { margin-top: 14px; }
.margin-t-10 { margin-top: 28px; }
.margin-t-15 { margin-top: 32px; }
.margin-t-20 { margin-top: 56px; }
.margin-t-text { margin: 50px 0;}

/*
 * Overwrite bootstrap
 */

.container {
    margin: 0 auto 40px auto;
    max-width: 1000px;
}


/*
 * Image styling
 */

.img-name { 
    max-width: 20%; 
    cursor: pointer;
}

.img-60 {
    max-width: 60%;
    max-height: 130px;
}

.img-70 {
    max-width: 70%;
}

.img-80,
.img-face { 
    max-width: 80%; 
    max-height: 180px;
}

.img-100 { max-width: 100%; }

/*
 * general classes
 */

 .hover:hover {
    cursor: pointer;
    background: #d9d9d9;
 }

 .clear {
    clear: both;
 }

.back {
    padding: 15px 10px;
}

.back img {
    display: inline-block;
    margin-right: 5px;
}

.back a {
    font-size: 15px;
    font-weight: 300;
}

.back a:hover,
.back a:active,
.back a:visited,
.back a:link  {
    color: #f2808a ! important;
}


/*
 * General Styling 
 */

.type {
    margin: 10px auto;
    text-align: center;
}

.type img {
    padding: 0 5px;
}

.desktop {
    background: url("images/desktop.svg") no-repeat center center; 
    background-size: cover;
}


/*
 * Embeded Laptop 
 */

.laptop {
    background: url("images/laptop.svg") no-repeat top center;
    background-size: 100%;
    width: 60%;
    min-width: 400px;
    min-height: 340px;
    margin: 0 auto;
    margin-top: 20px;
}

.contain {
    position: relative;
    height: 300px;
    overflow: hidden;
    width: 78.5%;
    margin: 0 auto;
    padding: 0;
}

.contain iframe {
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    border: 0;
    margin-top: 13px;
    padding: 0;
}



 /*
  * footer
  */

.footer {
    width: calc(100% - 30px);
    clear: both;
    border-top: 2px solid #e6e6e6;
    margin: 30px auto 20px auto;
    padding-top: 10px;
    text-align: center;
}

/*
 * Home page styling
 */

.grey-home { 
    background-color: #e6e6e6;
    height: 250px;
}

/* 
 * Device media queries - with Bootstrap 3
 */
 
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    .grey-home { 
        height: auto;
        min-height: 245px;
    }

    .contain { height: 290px; }
    .contain iframe { margin-top: 13px;}

    

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .margin-t-text { margin: 30px 0; }

    p,h1 { text-align: center; }

    .img-name { max-width: 30%; }

    .grey-home { 
        height: auto;
        overflow: auto;
    }

    .contain { height: 225px; }
    .contain iframe { margin-top: 7px;}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

   .img-name { max-width: 40%; }

   .img-80,
   .img-60 { display:none; }

   .grey-home { min-height:0; }
   
   .laptop { 
        background: url("Projects/Design/cibc_web/images/laptop-cibc.svg") no-repeat;
        min-height: none; 
    }

   .contain { display: none; }
   
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    p { 
        font-size: 14px; 
        line-height: 26px;
    }

    h2 { 
        font-size: 14px;
    }

    
    .img-face { max-width: 45%; }



}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}




